{% extends "base.html" %}

{% block content %}

  <div class="d-flex justify-content-center align-items-center vh-100">
  <div class="border rounded p-5 w-50 h-50">
  {% if form.errors %}
    <div class="text-center">
       <p class="font-weight-lighter">Invalid credentials. Please try again.</p>
    </div>
  {% endif %}

  <h1 class="text-center pb-5 font-weight-light">Login</h1>

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
      <p class="w-50 mx-auto">{{ form.username }}</p>
      <p class="w-50 mx-auto">{{ form.password }}</p>
    <input type="submit" value="Login" class="btn btn-primary font-weight-light" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
   </div>
  </div>
{% endblock %}
