{% extends "base.html" %}
{% load static %}

{% block content %}
  <h2 class="schema-form w-50" id="title">
    Schema Sample
    <a href="{% url 'schemas:schema-update' pk=schema.id %}" style="float: right;">Edit schema</a>
  </h2>
  <table class="table table-bordered schema-form w-50">
    <tr>
      <th>#</th>
      <th>Column name</th>
      <th>Column type</th>
    </tr>
    {% for column in columns %}
      <tr>
        <td><b>{{ forloop.counter }}</b></td>
        <td>{{ column.name }}</td>
        <td>{{ column.get_type_display }}</td>
      </tr>
    {% endfor %}
    </table>

    <form method="post" id="post-form">
      {% csrf_token %}
      <div class="row schema-form">
        <h2 class="col-3">Data sets</h2>
        <div class="col-7" style="float: right">
        <div class="col-2" style="float: right;">
          {{ form.rows }}
        </div>
        <div class="col-3" style="float: right;">
          <button type="submit" class="btn btn-success">Generate data</button>
        </div>
        </div>
      </div>

    </form>

  <table class="table table-bordered schema-form w-75 mb-5" id="files">
    <tr>
      <th>#</th>
      <th>Created</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    {% for file in files %}
      <tr>
        <td><b>{{ forloop.counter }}</b></td>
        <td>{{ file.created }}</td>
        <td><span class="badge badge-success">Ready</span></td>
        <td><a href="{{ file.file_path }}">Download</a></td>
      </tr>
    {% endfor %}

  </table>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  </script>
  <script src="{% static 'libraries/csrf_protection.js' %}"></script>
  <script>
    let tableRowId = {{ schema.files.count }}
    function uuidv4() {
        return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
          (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        );
      }
    $(document).on('submit', '#post-form', function (e) {
        e.preventDefault()
        const uniqueStatusId = uuidv4()
        const uniqueDownloadId = uuidv4()
        $.ajax({
            type:'POST',
            url:"{% url 'schemas:schema-files' pk=schema.id %}",
            data:$('#post-form').serialize(),
            beforeSend: function(){
                var utc = new Date().toJSON().slice(0,10)
                tableRowId++
                console.log(tableRowId)
                $("#files").append(
                    "<tr>" +
                    "<td><b>" + tableRowId + "</b></td>" +
                    "<td>" + utc + "</td>" +
                    "<td><span id=\"" + uniqueStatusId + "\" class='badge badge-secondary'>Processing</span>" + "</td>" +
                    "<td id=\"" + uniqueDownloadId + "\">" + "</td>" +
                    "<tr>"
                )
            },
            success:function(json){
                console.log(json)
                document.getElementById("post-form").reset();
                const status = document.getElementById(uniqueStatusId)
                const download = document.getElementById(uniqueDownloadId)
                status.innerHTML = "Ready"
                status.setAttribute("class", "badge badge-success")
                download.innerHTML = "<a href="+ json.bucket_url + " download>Download</a>"
            },
            error : function(xhr, status, error) {
                console.log(xhr.status + ": " + xhr.responseText);
                document.getElementById("post-form").reset();
                const status_error = document.getElementById(uniqueStatusId)
                const download = document.getElementById(uniqueDownloadId)
                status_error.innerHTML = "Failed"
                status_error.setAttribute("class", "badge badge-danger")
                download.innerHTML = xhr.responseJSON["response"]
            }
        });
    });
</script>
{% endblock %}

